<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions for accessing VehiclePropertyIds.CURRENT_GEAR. -->
    <uses-permission android:name="android.car.permission.CAR_POWERTRAIN" />
    <uses-permission android:name="android.car.permission.CAR_UX_RESTRICTIONS_CONFIGURATION" />
    <uses-permission android:name="android.car.permission.CAR_DRIVING_STATE"/>

    <uses-permission android:name="android.car.permission.CAR_INFO" />
    <uses-permission android:name="android.car.permission.ENERGY" />
    <uses-permission android:name="android.car.permission.CAR_ENERGY_PORTS" />
    <uses-permission android:name="android.car.permission.READ_CAR_DISPLAY_UNITS" />
    <uses-permission android:name="android.car.permission.CAR_SPEED" />

    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />

    <uses-feature
        android:name="android.software.car.templates_host"
        android:required="true" />

    <!-- Uses Theme.DeviceDefault to use the car's default theme. -->
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/EVEnergyInfo">



        <meta-data android:name="com.android.automotive"
            android:resource="@xml/automotive_app_desc"/>

        <activity android:name="com.brittonvehicles.evenergyinfo.MainActivity"
            android:theme="@style/EVEnergyInfo"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.CAR_MODE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="distractionOptimized" android:value="true"/>
        </activity>
    </application>


</manifest>